{% extends 'base.html.twig' %}

{% block title %}
    Connexion réussie
{% endblock %}

{% block body %}
    <h1>Connexion réussie</h1> 
    <p>Bienvenue !</p>
    <a href="/login/logout">Déconnexion</a>
{% endblock %}
